@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

html, body {
  overflow-x: hidden;
  background-color: #1B1919;
}

body {
  opacity: 0;
  transition: 1s ease-in-out;
}

body.active {
  opacity: 1;
  transition: 1s ease-in-out;
}

.con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.con .container {
  max-width: 1400px;
  width: 100%;
}
.con .container .nav {
  position: fixed;
  width: 100%;
  top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.con .container .nav .navbarin {
  display: inline-block;
}
.con .container .nav .navbarin .navbarflex {
  backdrop-filter: blur(10px) saturate(80%);
  -webkit-backdrop-filter: blur(10px) saturate(80%);
  background-color: rgba(238, 229, 229, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  padding: 5px;
}
.con .container .nav .navbarin .navbarflex a:nth-child(3) {
  backdrop-filter: blur(4px) saturate(2%);
  -webkit-backdrop-filter: blur(4px) saturate(2%);
  background-color: rgba(255, 255, 255, 0.01);
}
.con .container .nav .navbarin .navbarflex a {
  padding: 10px 17px;
  border-radius: 12px;
  transition: 0.2s ease-in-out;
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.con .container .nav .navbarin .navbarflex a:hover {
  backdrop-filter: blur(4px) saturate(2%);
  -webkit-backdrop-filter: blur(4px) saturate(2%);
  background-color: rgba(255, 255, 255, 0.01);
}
.con .container .pro {
  padding: 6rem 22rem 3rem 22rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.con .container .pro .prohead {
  padding-left: 7.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.con .container .pro .prohead h1 {
  color: rgb(226, 226, 226);
  font-family: "IBM Plex Mono", monospace;
  font-style: italic;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 30px #fff, 0 0 81px #fff;
}
.con .container .pro .prohead p {
  color: rgb(75, 75, 75);
  font-size: 1.2rem;
}
.con .container .case {
  display: flex;
  flex-direction: column;
  padding: 2rem 22rem;
  gap: 2rem;
}
.con .container .case .casemega {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.con .container .case .casemega .caseleft p {
  color: rgb(138, 138, 138);
  font-size: 12px;
  font-weight: 400;
  font-family: "IBM Plex Mono", monospace;
}
.con .container .case .casemega .caseright {
  width: 100%;
}
.con .container .case .casemega .caseright .casebox {
  padding: 10px;
  background-color: #252323;
  border-radius: 20px;
  border: 1px solid rgb(49, 49, 49);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.con .container .case .casemega .caseright .casebox .caseboxpanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanela {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanela img {
  width: 1.2rem;
}
.con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanela p {
  font-size: 12px;
  color: rgb(226, 226, 226);
}
.con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanelb a {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  background-color: #201e1e;
  color: rgb(226, 226, 226);
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid #252525;
  transition: 0.2s ease-in-out;
  font-size: 10px;
}
.con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanelb a:hover {
  background-color: #2c2a2a;
}
.con .container .case .casemega .caseright .casebox img {
  width: 100%;
}
.con .container .fo {
  background-color: #181616;
}
.con .container .fo .fowrap {
  padding: 5rem 22rem 3rem 22rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.con .container .fo .fowrap span i {
  color: rgb(90, 90, 90);
  font-size: 2rem;
}
.con .container .fo .fowrap h1 {
  color: rgb(226, 226, 226);
  font-size: 19px;
  font-weight: 500;
}
.con .container .fo .fowrap p {
  display: inline-block;
  color: rgb(90, 90, 90);
  border: 1px solid rgb(49, 49, 49);
  font-size: 12px;
  border-radius: 10px;
  padding: 6px 10px;
}
.con .container .fo .fowrap .fososial {
  display: flex;
  flex-direction: row;
  gap: 2.8rem;
}
.con .container .fo .fowrap .fososial a {
  font-size: 30px;
  margin: 12px 0;
}
.con .container .fo .fowrap .fososial a i {
  color: grey;
  transition: 0.2s ease-in-out;
}
.con .container .fo .fowrap .fososial a i:hover {
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(255, 255, 255), 0 0 82px rgb(255, 255, 255), 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.con .container .fo .fowrap h4 {
  font-size: 13px;
  color: rgb(160, 160, 160);
  margin-top: 4rem;
}
.con .container .fo .fowrap h3 {
  font-size: 10px;
  color: rgb(87, 87, 87);
}

@media screen and (max-width: 840px) {
  .con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .con .container {
    max-width: 1400px;
    width: 100%;
  }
  .con .container .nav {
    position: fixed;
    width: 100%;
    top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .con .container .nav .navbarin {
    display: inline-block;
  }
  .con .container .nav .navbarin .navbarflex {
    backdrop-filter: blur(10px) saturate(80%);
    -webkit-backdrop-filter: blur(10px) saturate(80%);
    background-color: rgba(238, 229, 229, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 5px;
  }
  .con .container .nav .navbarin .navbarflex a:nth-child(3) {
    backdrop-filter: blur(4px) saturate(2%);
    -webkit-backdrop-filter: blur(4px) saturate(2%);
    background-color: rgba(255, 255, 255, 0.01);
  }
  .con .container .nav .navbarin .navbarflex a {
    padding: 10px 17px;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  .con .container .nav .navbarin .navbarflex a:hover {
    backdrop-filter: blur(4px) saturate(2%);
    -webkit-backdrop-filter: blur(4px) saturate(2%);
    background-color: rgba(255, 255, 255, 0.01);
  }
  .con .container .pro {
    padding: 6rem 11rem 3rem 11rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .con .container .pro .prohead {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .con .container .pro .prohead h1 {
    color: rgb(226, 226, 226);
  }
  .con .container .pro .prohead p {
    color: rgb(75, 75, 75);
    font-size: 1.2rem;
  }
  .con .container .case {
    display: flex;
    flex-direction: column;
    padding: 1rem 11rem 3rem 11rem;
    gap: 2rem;
  }
  .con .container .case .casemega {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  .con .container .case .casemega .caseleft {
    display: none;
  }
  .con .container .case .casemega .caseleft p {
    color: rgb(138, 138, 138);
    font-size: 12px;
    font-weight: 400;
    font-family: "IBM Plex Mono", monospace;
  }
  .con .container .case .casemega .caseright {
    width: 100%;
  }
  .con .container .case .casemega .caseright .casebox {
    padding: 10px;
    background-color: #252323;
    border-radius: 20px;
    border: 1px solid rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .con .container .case .casemega .caseright .casebox .caseboxpanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanela {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanela img {
    width: 1.2rem;
  }
  .con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanela p {
    font-size: 12px;
    color: rgb(226, 226, 226);
  }
  .con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanelb a {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background-color: #201e1e;
    color: rgb(226, 226, 226);
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid #252525;
    transition: 0.2s ease-in-out;
    font-size: 10px;
  }
  .con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanelb a:hover {
    background-color: #2c2a2a;
  }
  .con .container .case .casemega .caseright .casebox img {
    width: 100%;
  }
  .con .container .fo {
    background-color: #181616;
  }
  .con .container .fo .fowrap {
    padding: 5rem 10rem 3rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .con .container .fo .fowrap span i {
    color: rgb(90, 90, 90);
    font-size: 2rem;
  }
  .con .container .fo .fowrap h1 {
    color: rgb(226, 226, 226);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  .con .container .fo .fowrap p {
    display: inline-block;
    color: rgb(90, 90, 90);
    border: 1px solid rgb(49, 49, 49);
    font-size: 12px;
    border-radius: 10px;
    padding: 6px 10px;
  }
  .con .container .fo .fowrap .fososial {
    display: flex;
    flex-direction: row;
    gap: 2.8rem;
  }
  .con .container .fo .fowrap .fososial a {
    font-size: 30px;
    margin: 12px 0;
  }
  .con .container .fo .fowrap .fososial a i {
    color: grey;
    transition: 0.2s ease-in-out;
  }
  .con .container .fo .fowrap .fososial a i:hover {
    color: white;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(255, 255, 255), 0 0 82px rgb(255, 255, 255), 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  }
  .con .container .fo .fowrap h4 {
    font-size: 13px;
    color: rgb(160, 160, 160);
    margin-top: 4rem;
  }
  .con .container .fo .fowrap h3 {
    font-size: 10px;
    color: rgb(87, 87, 87);
  }
}
@media screen and (max-width: 620px) {
  .con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .con .container {
    max-width: 1400px;
    width: 100%;
  }
  .con .container .nav {
    position: fixed;
    width: 100%;
    top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .con .container .nav .navbarin {
    display: inline-block;
  }
  .con .container .nav .navbarin .navbarflex {
    backdrop-filter: blur(10px) saturate(80%);
    -webkit-backdrop-filter: blur(10px) saturate(80%);
    background-color: rgba(238, 229, 229, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 5px;
  }
  .con .container .nav .navbarin .navbarflex a:nth-child(3) {
    backdrop-filter: blur(4px) saturate(2%);
    -webkit-backdrop-filter: blur(4px) saturate(2%);
    background-color: rgba(255, 255, 255, 0.01);
  }
  .con .container .nav .navbarin .navbarflex a {
    padding: 10px 17px;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  .con .container .nav .navbarin .navbarflex a:hover {
    backdrop-filter: blur(4px) saturate(2%);
    -webkit-backdrop-filter: blur(4px) saturate(2%);
    background-color: rgba(255, 255, 255, 0.01);
  }
  .con .container .pro {
    padding: 6rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .con .container .pro .prohead {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .con .container .pro .prohead h1 {
    color: rgb(226, 226, 226);
  }
  .con .container .pro .prohead p {
    color: rgb(75, 75, 75);
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .con .container .case {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 3rem 1rem;
    gap: 2rem;
  }
  .con .container .case .casemega {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  .con .container .case .casemega .caseleft {
    display: none;
  }
  .con .container .case .casemega .caseleft p {
    color: rgb(138, 138, 138);
    font-size: 12px;
    font-weight: 400;
    font-family: "IBM Plex Mono", monospace;
  }
  .con .container .case .casemega .caseright {
    width: 100%;
  }
  .con .container .case .casemega .caseright .casebox {
    padding: 10px;
    background-color: #252323;
    border-radius: 20px;
    border: 1px solid rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .con .container .case .casemega .caseright .casebox .caseboxpanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanela {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanela img {
    width: 1.2rem;
  }
  .con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanela p {
    font-size: 12px;
    color: rgb(226, 226, 226);
  }
  .con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanelb a {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background-color: #201e1e;
    color: rgb(226, 226, 226);
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid #252525;
    transition: 0.2s ease-in-out;
    font-size: 10px;
  }
  .con .container .case .casemega .caseright .casebox .caseboxpanel .caseboxpanelb a:hover {
    background-color: #2c2a2a;
  }
  .con .container .case .casemega .caseright .casebox img {
    width: 100%;
  }
  .con .container .fo {
    background-color: #181616;
  }
  .con .container .fo .fowrap {
    padding: 5rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .con .container .fo .fowrap span i {
    color: rgb(90, 90, 90);
    font-size: 2rem;
  }
  .con .container .fo .fowrap h1 {
    color: rgb(226, 226, 226);
    font-size: 17px;
    line-height: 1.7;
    width: 70%;
    font-weight: 500;
    text-align: center;
  }
  .con .container .fo .fowrap p {
    display: inline-block;
    color: rgb(90, 90, 90);
    border: 1px solid rgb(49, 49, 49);
    font-size: 12px;
    border-radius: 10px;
    padding: 6px 10px;
  }
  .con .container .fo .fowrap .fososial {
    display: flex;
    flex-direction: row;
    gap: 2.8rem;
  }
  .con .container .fo .fowrap .fososial a {
    font-size: 30px;
    margin: 12px 0;
  }
  .con .container .fo .fowrap .fososial a i {
    color: grey;
    transition: 0.2s ease-in-out;
  }
  .con .container .fo .fowrap .fososial a i:hover {
    color: white;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(255, 255, 255), 0 0 82px rgb(255, 255, 255), 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  }
  .con .container .fo .fowrap h4 {
    font-size: 10px;
    color: rgb(160, 160, 160);
    margin-top: 4rem;
  }
  .con .container .fo .fowrap h3 {
    font-size: 8px;
    color: rgb(87, 87, 87);
  }
}/*# sourceMappingURL=proyek.css.map */